<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<?include ../Includes.wxi?>

	<Fragment>
		<!-- Regs for shortcuts are defined in "Fragments/ShortcutProperties.wxs" -->
		<!-- Component that persists the property values to the registry so they are available during an upgrade/modify -->
		<DirectoryRef Id="INSTALLFOLDER_INNER">
			<Component Id="Product.Registry.InstallFolder" Guid="7C045952-37C6-518E-BD1A-CA66E9239099">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)">
					<RegistryValue Type="string" Name="INSTALLFOLDER" Value="[INSTALLFOLDER_INNER]" />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.DefaultIcon" Guid="95A45594-AFDB-5589-8F8F-15F04E40B40B">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\DefaultIcon">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.Product).exe",0' />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.CommandPlay" Guid="915C49C8-3F61-5746-A09F-90EE69C4CF0E">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell" />
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell\open" />
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell\open\command">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.Product).exe" --play "%1"' />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.URLProtocol" Guid="205FE4A5-A383-59CD-B60E-960DF50F0BBD">
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)">
					<RegistryValue Type="string" Name="URL Protocol" Value="" />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.Command" Guid="9C0F81F9-AB04-5817-9DB0-564F6DD29DAD">
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)\shell" />
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)\shell\open" />
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)\shell\open\command">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.Product).exe" "%1"' />
				</RegistryKey>
			</Component>

			<!--For compatibility with registry values from previous versions-->
			<Component Id="Product.Registry.UninstallApp" Guid="66927C1D-2CDE-5BB6-A36A-4BD580CE5472">
				<RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.Product)" >
					<RegistryValue Type="string" Name="BuildDate" Value="$(var.BuildDate)" />
					<RegistryValue Type="string" Name="share_rdp" Value="" />

					<!--$ArpStart$-->
					<!--$ArpEnd$-->
				</RegistryKey>
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>
